/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #c6bfd1;
  block-size: 10em;
  overflow: auto;
}

/* Slides */
.mySlides {
  display: none;
  padding: 1em;
  text-align: center;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #aea4bc;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #988dab;
}


.under {
  color: #000 !important;
  text-decoration: none;
  
}

.under:hover {
  color: #000 !important;
  text-decoration: none;
}
.question {
  display: none;
}

.link:hover .question {
   animation: fadeIn 2s;
   display: inline;
}
a {
    display: block;
}